/* NOTE: Position Ini lebih powerfull dibandingkan menggunakan margin dikarenakan margin akan mempengaruhi element di sekitarnya */

/* Position ini terbagi menjadi 4 value:
   - static (default) (IMPORTANT: Element yang di position selain static dapat menggunakan properti seperti top,left,bottom dan right untuk mengatur posisinya

   - relative (maju satu dimensi) 
   (IMPORTANT: - Ruang Yang ditempati oleh element tersbut masih ada walaupun sudah maju satu dimensi
               -  Ketika Kita Menggerakan  elemen dengan posisi relative, elemen akan bergerak relatif terhadap posisi semula-nya
               - jika kita memberi properti top:0; dan left:0; maka elemen tidak berubah posisinya
               - biasanya di pakai untuk out of flow atau keluar dari flow


   - absolute (IMPORTANT: - Ruang Yang ditempati oleh element tersbut dianggap tidak ada oleh elemen lain yang static
                          - Ketika Kita Menggerakan elemen dengan absolute. elemen akan bergerak relatif terhadap posisi parent-nya selama elemen parent-nya memiliki posisi yang juga non-static
        
   - fixed (IMPORTANT: - Relatif Terhadap Windows bukan terhadap parents-nya walaupun parent-nya non-static
                       - terkunci di posisi yang di tentukan
                       -  ketika di scroll elemen tersebut tidak akan bergerak    */

body {
    height:2000px;
}

div {
    width:200px;
    height:200px;
    margin:auto;
}

.satu {
    background-color:green;
}

.dua  {
    background-color:blue;
    /* position:relative; */
    /* position:absolute; */
    position:fixed;
    height:85px;
    width:100%;
    top:0;
    right:0;
}

.tiga {
    background-color:yellow;
}

.container {
    width:600px;
    height:650px;
    border:10px solid aquamarine;
    position:relative;
}